html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 300px) {
    #gift-star-rating {
        font-size: 20px;
    }

    #line-chart-result, #radar-chart-result {
        height: 200px;
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 400px) {
    #gift-star-rating {
        font-size: 30px;
    }
}

@media only screen and (min-width: 600px) {
    #gift-star-rating {
        font-size: 30px;
    }

    #line-chart-result, #radar-chart-result {
        height: 200px;
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 900px) {
    #gift-star-rating {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    #gift-star-rating {
        font-size: 45px;
    }
}

input[tpye=number] {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
